<%namespace name='static' file='static_content.html'/>
<%!
    from django.utils.translation import ugettext as _
    from openedx.core.djangolib.markup import HTML, Text
%>

<!--[if lte IE 9]>
	<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
	    begin_strong=HTML('<strong>'),
	    end_strong=HTML('</strong>'),
	    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
	    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
	)}</div>
<![endif]-->
