name: Pylint

on: push

jobs:
  run_pylint:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - module-name: "lms"
            UPPER_PYLINT_THRESHOLD: 33
          - module-name: "cms"
            UPPER_PYLINT_THRESHOLD: 31
          - module-name: "openedx"
            UPPER_PYLINT_THRESHOLD: 45
          - module-name: "common"
            UPPER_PYLINT_THRESHOLD: 36

    name: ${{ matrix.module-name }}
    steps:

    - uses: actions/checkout@v2


    - name: Install Required System Packages
      run: sudo apt-get update && sudo apt-get install libxmlsec1-dev

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Remove pip cache
      run: pip cache purge

    - name: Get pip cache dir
      id: pip-cache-dir
      run: |
        echo "::set-output name=dir::$(pip cache dir)"

    - name: Cache pip dependencies
      id: cache-dependencies
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/edx/development.txt') }}
        restore-keys: ${{ runner.os }}-pip-

    - name: Install Required Python Dependencies
      run: |
        pip install -r requirements/pip.txt
        pip install -r requirements/edx/development.txt --src ${{ runner.temp }}

    - name: Run Quality Tests
      run: |
        paver run_pylint -l ${{ matrix.UPPER_PYLINT_THRESHOLD }} -s ${{ matrix.module-name }}

    - name: Save Job Artifacts
      uses: actions/upload-artifact@v2
      if: ${{ failure() }}
      with:
        name: Build-Artifacts
        path: |
          **/reports/**/*
          test_root/log/**/*.log
          *.log
