
name: Build Tutor Image
on: push
jobs:
  deploy:
    name: deploy to cluster
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: build and push to docker hub
      uses: docker/build-push-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: neonesoft/test-gha
        tag_with_ref: true
        tag_with_sha: true
        tags: ${{ github.sha }}
